---
const { title } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>
</head>

<body class="bg-slate-950 text-white">

<header class="fixed top-0 left-0 w-full z-50 bg-black/30 backdrop-blur-md border-b border-white/10">

<div class="max-w-7xl mx-auto px-8 py-4 flex justify-between items-center">

<a href="/" class="font-black text-2xl">
🐺 SIMMEOW
</a>

<nav class="hidden md:flex gap-8 text-sm">

<a href="#about" class="hover:text-red-500 transition">
About
</a>

<a href="#stats" class="hover:text-red-500 transition">
Stats
</a>

<a href="#videos" class="hover:text-red-500 transition">
Videos
</a>

<a href="#contact" class="hover:text-red-500 transition">
Contact
</a>

</nav>

</div>

</header>

<main>

<slot />

</main>

</body>

</html>